<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
	    <add name="overrideSocial.Properties.Settings.fntech_mediaConnectionString" connectionString="Data Source=fntech.database.windows.net;Initial Catalog=fntech_media;User ID=fntech;Password=R3h4blibc5pgo!" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />

        <customErrors mode="Off" />
        <sessionState timeout="480" />
      <webServices>
        <protocols>
          <add name="HttpGet"/>
        </protocols>
      </webServices>
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="dashboard.aspx" />
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
